.reveal .c-block {
  display: initial;
  overflow: initial;
  position: initial;
  background: transparent;
  z-index: initial;
  width: inherit;
  min-width: none;
  transition: none;
  padding: 0;
}
