{{ define "main" }} {{ partial "page-header" .}} {{/* This calls reveal js to
turn this content into a slide deck It's zero-config for now . If we find people
want it, we can build a web component*/}}

<div class="reveal">
  <div class="slides">
    {{ range .Params.blocks }} {{ partial "block/block.html" (dict "block" .
    "Page" $.Page "Site" $.Site ) }} {{ end }}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/reveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/plugin/notes/notes.min.js"></script>
<script>
  // More info about initialization & config:
  // - https://revealjs.com/initialization/
  // - https://revealjs.com/config/
  Reveal.initialize({
    embedded: true,
    width: 1280,
    height: 720,
    hash: true,
    previewLinks: true,
    pdfSeparateFragments: false,
    // Learn about plugins: https://revealjs.com/plugins/
    plugins: [RevealNotes],
  });
</script>
{{ end}}
